<h2>{{ idProducto ? 'Editar' : 'Crear' }} Producto</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Nombre del producto</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Valor</mat-label>
    <input matInput type="number" formControlName="valor" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    {{ idProducto ? 'Actualizar' : 'Crear' }}
  </button>
</form>


<p>crear-producto works!</p>
